<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created to learn
<%= link_to('Rails Mailinglist Activejob', 'http://edgeguides.rubyonrails.org/active_job_basics.html') %>
in order to use <%= link_to('Stripe Checkout', 'https://stripe.com/docs/checkout/guides/rails') %>.
</p>
